@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ComputerAssemblyViewModel>

@{
    ViewData["Title"] = "List";
}
<link href="~/css/assemblylist.css" rel="stylesheet" />
<style>
    .please-scroll {
        height: calc(100vh - 180px);
        overflow-y: scroll;
    }
</style>

<h1>Збірки користувачів</h1>
<div class="search-box">
    <input id="search-input" class="form-control" type="text" placeholder="Search..." aria-label="Search" />
</div>
<a class="search-link btn btn-success custom-button"><span>Пошук</span></a>

<div class="row">
    <div class="col-3 form-column" style="display:none">
           
        <div class="assembly-form please-scroll" style="height:700px">

        </div>
    </div>
    <div class="col-12 table-column">
        <div class="assembly-table">

        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        var formShowed = false;
        $.ajax({
            url: "/Home/AssemblyTable",
            success: function (data) {
                $(".assembly-table").html(data);
            }
        })

        $.ajax({
            url: "/Home/Search",
            success: function (data) {
                $(".assembly-form").html(data);
                var container = $(".assembly-form");
                container.find(".search-assembly").click(function (e) {
                    e.preventDefault();
                    var data = container.find("form").serialize();
                    console.log(data);
                    updateTable($("#search-input").val());

                });
            }
        })

        var TypingTimer = null;
        var DoneTypingInterval = 1500;

        $("#search-input").unbind("keyup").keyup(function () {
            clearTimeout(TypingTimer);
            TypingTimer = setTimeout(function () { searchDone() }, DoneTypingInterval);
        });

        function searchDone() {
            updateTable($("#search-input").val());
        }

        function updateTable(searchString) {
            BasicWidgets.loading($(".assembly-table"), true);
            $(".assembly-form").find("#Name").val(searchString);
            var data = $(".assembly-form").find("form").serialize();
            console.log(data);
            $.ajax({
                url: "/Home/AssemblyTable",
                type: "GET",
                data: data,
                success: function (content) {
                    BasicWidgets.loading($(".assembly-table"), false);
                    $(".assembly-table").html(content);
                }
            });
        }

        $(".search-link").click(function (e) {
            $(".form-column").toggle(!formShowed);
            formShowed = !formShowed;
            if (formShowed) {
                $(".table-column").removeClass("col-12");
                $(".table-column").addClass("col-9");
            } else {
                $(".table-column").removeClass("col-9");
                $(".table-column").addClass("col-12");
            }
        });


    });


</script>
