
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

    .sidenav a.selected {
        color: white;
        background-color: mediumseagreen;
    }

.fas {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: mediumseagreen;
    padding: 10px 10px 10px 10px;
}

.fas:hover{
    cursor: pointer;
}

.table .form-control{
    width: 60%;
}

.please-scroll {
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

.catalog-page{
    width: 90%;
}

.table-edit-container {
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 10px;
    border-style: solid;
    border-color: mediumseagreen;
}

.catalog-item {
    border-style: solid;
    border-color: mediumseagreen;
    background-color: whitesmoke;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    width: 90%;
}

.catalog-item img{
    border-radius: 10%;
}

.catalog-item-block{
    display: inline-block;
}

.catalog-item .item-name{
    font-size: 16px;
    font-weight: bold;
}


.catalog-item .item-description {
    font-size: 14px;
}

.catalog-item .item-prop .item-prop-name {
    font-size: 14px;
    font-weight: bold;
}

.catalog-item .item-prop .item-prop-value {
    font-size: 14px;
}

.details-container .item-description {
    font-size: 18px;
    width: 60%;
}


.details-container .item-prop .item-prop-name {
    font-size: 18px;
    font-weight: bold;
}


.details-container .item-prop {
    width: 60%;
}

.details-container .item-prop .item-prop-value {
    font-size: 18px;
}

form .fas {
    cursor: pointer;
    color: mediumseagreen;
    text-align: center;
    vertical-align: middle;
}

.search-container{
    display: none;
    height: 300px;
}