
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/catalog.css" rel="stylesheet" />
<script src="~/js/specifications.js"></script>
<script src="~/js/catalogtable.js?v=2"></script>
@*<script src="~/js/editabledatatable.js"></script>*@

<div class="container catalog-page">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="CPU">Процесори</a>
                    <div class="search-container please-scroll CPU-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="MotherBoard">Материнські плати</a>
                    <div class="search-container please-scroll MotherBoard-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="RAM">ОЗП</a>
                    <div class="search-container please-scroll RAM-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="HDD">HDD</a>
                    <div class="search-container please-scroll HDD-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="SSD">SSD</a>
                    <div class="search-container please-scroll SSD-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="VideoCard">Відео-карти</a>
                    <div class="search-container please-scroll VideoCard-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="PowerSupply">Блоки живлення</a>
                    <div class="search-container please-scroll PowerSupply-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="PCCase">Корпуси</a>
                    <div class="search-container please-scroll PCCase-search"></div>
                </div>
            </div>
            <div class="sidenav">
                <div class="category-container">
                    <a href="#" class="category-link" data-link="Software">ПЗ</a>
                    <div class="search-container please-scroll Software-search"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 please-scroll ">
            <div><h2 class="сategory-name"></h2></div>
            <div class="search-box" style="display: none">
                <input id="search-input" class="form-control" type="text" placeholder="Search..." aria-label="Search" />
            </div>
            <div class="catalog-list-container main">
                <h1 style="text-align:center">Оберіть категорію</h1>
                <img src="~/Images/main-page-pc.png" style="max-width:250px;margin-left:270px;margin-top:75px" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var page = new CatalogPageWithSearch();
        page.init("@ViewBag.StartView");
    })
</script>