
@{
    ViewData["Title"] = "AccessDenied";
}

<div style="margin-left:500px">
<h1>Доступ заборонено!</h1>
<i class="fas fa-ban" style="font-size: 100px; margin-top: 100px;color:mediumspringgreen;margin-left:125px"></i>
</div>
