@model FerumChecker.Web.ViewModel.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Увійти</h2>
        <form method="post" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Email" class="control-label"></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <input style ="margin-top: 15px; margin-left: 300px;"type="submit" class=" btn btn-success" value="Увійти" />
            </div>
        </form>

    </div>
    <div class="col-md-4">
    </div>
</div>
