@model IEnumerable<FerumChecker.Web.ViewModel.Specification.RequirementTypeViewModel>

@{
    ViewData["Title"] = "View";
}


<table class="table" id="requirementtype-table">
    <thead>
        <tr>
            <th colspan="2">
                <button class="create-link btn btn-success">Додати</button>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td  style="width: 70%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td  style="width: 30%">
                    <a class='edit-link'><i class='fas fa-edit'></i></a>
                    <a class='delete-link'><i class='fas fa-trash'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        var table = new SpecificationTable();
        table.init($("#requirementtype-table"), "requirementtype");
    })
</script>